<div class="center jumbotron">
  <h1>Welcome to the Multibrain</h1>

  <h2>
    Multibrain provides users with the tools they need for a successful brainstorming session.
    Through using this web application, users can create boards, where they can invite their teammates to collaborate on projects.
    Key features include:
  </h2>
                	<ul>
                		<li>The ability to work on a board at the same time as team members</li>
                		<li>A voice feature to allow for communication within the team</li>
                		<li>The ability to add notes on a board, which can contain text, images, or links</li>
                		<li>The ability to draw and add shapes directly on a board</li>
                		<li>Being able to save a board to your profile</li>
                	</ul>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>