<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br><br><br><br><br>
        <% @user.boards.each do |board| %>
          <% id = board.id %>
          <% @board = Board.find_by_id(id) %>
          <li>
            <td><%= @board.title %></td>
          </li>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
