<% provide(:title, 'Home') %>
<div class="center jumbotron">
<%= stylesheet_link_tag "custom" %>

                <div class="inner-section">
                	<h1> Welcome to MULTIBRAIN!</h1>
                	<p> Multibrain provides users with the tools they need for a successful brainstorming session.
                	Through using this web application, users can create boards, where they can invite their teammates to collaborate on projects.</p>
                	
                </div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <% if logged_in? %>
						<%= link_to "Log out", logout_path, method: :delete, class: "btn btn-lg btn-primary" %>
						  
					<% else %>
						 <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
					<% end %>
</div>
