<% provide(:title, 'Home') %>
<div class="center jumbotron">

                <div class="inner-section">
                	<h1> Welcome to MULTIBRAIN.</h1>
                	<p> Multibrain provides users with the tools they need for a successful brainstorming session.
                	Through using this web application, users can create boards, where they can invite their teammates to collaborate on projects.</p>
                	<p> Key features include:</p>
                	<ul >
                		<li>The ability to work on a board at the same time as team members</li>
                		<li>A voice feature to allow for communication within the team</li>
                		<li>The ability to add notes on a board, which can contain text, images, or links</li>
                		<li>The ability to draw and add shapes directly on a board</li>
                		<li>Being able to save a board to your profile</li>
                	</ul>
                </div>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
