#boardBody{
  padding-top: 10px;
  padding-left: 10px;
}

//toolbar related
#boardBody ul {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  background-color: #eee;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}

#boardBody #boardName{
  font-size: 25px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 4px;
}

#boardBody .tool{
  padding-left: 13px;
  padding-right: 13px;
  text-decoration: none;
  font-size: 20px;
  display: inline;
  transition: 0.3s;
  background-color: transparent;
  border: 0;
  outline: 0;
  //for dropdown stuff
  overflow: hidden;
}

#boardBody button:hover{
  background-color: #a6a6a6;
}

//dropdown for background button
#boardBody li div .dropdown {
  float: left;
  overflow: hidden;
}

#boardBody li div .dropdown .bgChange {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#boardBody li div .tool a:hover, .dropdown:hover .bgChange {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
//end navbar

#boardBody #notesContainer{
  z-index: 900;
  position: absolute;
}

#boardBody #imgForm{
  display: none;
  padding: 5px;
  font-size: 20px;
}

#boardBody #imgForm #imgLinkInput{
  border: 0;
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  transition: 0.3s;
}

#boardBody #imgForm #imgLinkInput:hover{
  background-color: #eee;
}

#boardBody #drawingCanvas{
  position: absolute;
  top: 0;
  left: 0;
}

//notes
#boardBody .movable{
  font-size: 20px;
  width: 300px;
  height: 100px;
  padding: 0.5em;
}

// ul.board-style {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }
//
// li.board-style {
//   display: inline;
// }
// 
// /* The Modal (background) */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }
//
// /* Modal Content/Box */
// .modal-content {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }
//
// /* The Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }
//
// .close:hover,
// .close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }
//
// /* The Modal (background) */
// .modal {
//   display: none; /* Hidden by default */
//   position: fixed; /* Stay in place */
//   z-index: 1; /* Sit on top */
//   left: 0;
//   top: 0;
//   width: 100%; /* Full width */
//   height: 100%; /* Full height */
//   overflow: auto; /* Enable scroll if needed */
//   background-color: rgb(0,0,0); /* Fallback color */
//   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
// }
//
// /* Modal Content/Box */
// .modal-content {
//   background-color: #fefefe;
//   margin: 15% auto; /* 15% from the top and centered */
//   padding: 20px;
//   border: 1px solid #888;
//   width: 80%; /* Could be more or less, depending on screen size */
// }
//
// /* The Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }
//
// .close:hover,
// .close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }
